---
---
{%- assign locale = page.locale | default: layout.locale | default: site.locale %}

<!doctype html>
{% include copyright.html %}
<html lang="{{ locale | replace: '_', '-' | default: 'en' }}" class="no-js" dir="{{ page.direction | default: layout.direction | default: site.direction | default: 'ltr' }}">
  <head>
    {% include head.html locale=locale %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html locale=locale %}
    {% include_cached masthead.html locale=locale %}

    <div class="site-visitor-count" aria-label="전체 방문자 수">
      <span>전체 방문자</span>
      <div class="counterapi" ns="turtlekim322.github.io" action="view" key="any" unique="true" label="명" noLink="true" style="min-height: 30px"></div>
    </div>

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true and site.search_overlay == true %}
      <div class="search-content">
        {% include_cached search/search_form.html locale=locale %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html locale=locale %}
      </footer>
    </div>

    {% include scripts.html locale=locale %}
    <script async src="https://counterapi.com/c.js"></script>
  </body>
</html>
